@import "~gobal/style/style_vars";

:global {
// 字体大小
    .m_water_font-s{
    font-size: @font-sm;
    }
    .m_water_font-m{
    font-size: @font-md;
    }
    .m_water_font-b{
    font-size: @font-big;
    }
    // 字体颜色
    .m_water_fc-white{
        color: @color-white;
    }
    .m_water_fc-black{
        color: @color-black;
    }
    .m_water_fc-red{
        color: @color-red;
    }
    // 字体加粗
    .m_water_f-keyword_s{
      font-weight: 600;
    }
    .m_water_f-keyword{
      font-weight: bold;
    }
    .m_water_cusor-point{
      cursor: pointer;
    }
}