@import "../../node_modules/antd/lib/style/color/color.less";
@100: 100%;
@font-big: 16px;
@font-md: 14px;
@font-sm: 12px;
// 颜色
@color-red: red;
@color-white: #fff;
@color-black: #000;
@color-blue: @blue-6;
@color-purple: @purple-6;
@color-cyan: @cyan-6;
@color-green: @green-6;
@color-pink: @pink-6;
@color-red: @red-6;
@color-orange: @orange-6;
@color-yellow: @yellow-6;
